        <fls:Trasmissione Tipo="{{tipo}}"/>
        <fls:Assistito>
            <fls:DatiAnagrafici ComuneNascita="{{com_nasc}}">
                <fls:CUNI>{{id_cuni}}</fls:CUNI>
                <fls:validitaCI>{{val_ci}}</fls:validitaCI>
                <fls:tipologiaCI>{{tipo_ci}}</fls:tipologiaCI>
                <fls:AnnoNascita>{{anno_nasc}}</fls:AnnoNascita>
                <fls:Genere>{{gen}}</fls:Genere>
                <fls:Cittadinanza>{{cittad}}</fls:Cittadinanza>
                <fls:StatoCivile>{{stato_civ}}</fls:StatoCivile>
                <fls:CondProfessionale>{{cond_prof}}</fls:CondProfessionale>
                <fls:TitoloStudio>{{tit_studio}}</fls:TitoloStudio>
                <fls:Residenza>
                    <fls:RegioneRes>{{reg_res}}</fls:RegioneRes>
                    <fls:CodASLRes>{{asl_res}}</fls:CodASLRes>
                    <fls:ComuneRes>{{com_res}}</fls:ComuneRes>
                </fls:Residenza>
            </fls:DatiAnagrafici>
            <fls:Servizio>{{servizio}}</fls:Servizio>
            <fls:PartEventoGruppo>{{part_ev_gruppo}}</fls:PartEventoGruppo>
        </fls:Assistito>
        <fls:Erogazione>
            <fls:CodRegioneErg>{{reg_erog}}</fls:CodRegioneErg>
            <fls:CodASLErg>{{asl_erog}}</fls:CodASLErg>
            <fls:CodConsultorio>{{cc_erog}}</fls:CodConsultorio>
        </fls:Erogazione>