<?xml version="1.0" encoding="UTF-8"?>
<fls:FlsSicof_1 xmlns:fls="http://flussi.mds.it/FlsSicof_1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://flussi.mds.it/FlsSicof_1 SICOF_CONTATTO.XSD">
